@model InternshipManagementSystem.Models.UserModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>

 <!--//banner -->
<!--/w3_short-->

<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">

        <ul class="short_w3ls" _w3ls>
            <li><a @Html.ActionLink("Home", "Index", "Home")</a><span>|</span></li>
            <li>Presentation Schedule</li>
        </ul>
    </div>
</div>
<div class="tittle_head_w3ls">
    <h3 class="tittle three">Presentation Schedule</h3>
</div>
<br />
@if (Model.Accepted == "Null")
{
    <div>No Presentation Schedule Yet!</div>
}
else
{ 
        <div class="container">
            <div class="col-lg-12 well">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group" style="text-align:right;">
                                Calendar :
                            </div>
                            <div class="col-sm-6 form-group">
                                @Html.Label(Model.PresentationDate)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group" style="text-align:right;">
                                Time :
                            </div>
                            <div class="col-sm-6 form-group">
                                @Html.Label(Model.PresentationTime)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group" style="text-align:right;">
                                Venue :
                            </div>
                            <div class="col-sm-6">
                                @Html.Label(Model.PresentationVenue)
                                <input type="hidden" value="@ViewBag.Username" id="user" />
                            </div>
                        </div>
                        @if (Model.Accepted == "Waiting for response")
                        {
                            <div class="row" style="text-align:center;">
                                <div class="col-sm-6 form-group" style="text-align:right;">
                                    <input type="button" onclick="Accept()" value="Accept" />
                                </div>
                                <div class="col-sm-6 form-group" style="text-align:left;">
                                    <input type="button" onclick="Reject()" value="Reject" />
                                </div>
                            </div>

                        }
                        else if (Model.Accepted == "Rejected")
                        {
                            <div class="row" style="text-align:center; color:red;">REJECTED</div>
                        }
                        else if (Model.Accepted == "Accepted")
                        {
                            <div class="row" style="text-align:center; color:green;">ACCEPTED</div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <script>
            function Accept() {
                var user = document.getElementById('user').value;
                window.location.href = '/PresentationModule/UpdateScheduleStatus?username=' + user + '&status=accept';
            }
            function Reject() {
                var user = document.getElementById('user').value;
                window.location.href = '/PresentationModule/UpdateScheduleStatus?username=' + user + '&status=reject';
            }
        </script>
}
<br />
        <!-- //inner_content -->
        <!-- footer -->

      <div class="footer_top_agileits">
    <div class="container">
        <div class="col-md-4 footer_grid">
            <h3>About Us</h3>
            <p>
                The main goal of the Internship Management System (InMS) is to manage and monitor the Internship’s student for students in University Malaysia Pahang during their internship duration efficiently.
            </p>
        </div>
        <div class="col-md-4 footer_grid">
            <h3>Latest News</h3>
            <ul class="footer_grid_list">
                <li>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <a href="single.html">Last Submission date for Internship Student on 31/12/2018</a>
                </li>
                <li>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <a href="single.html">Register with us.</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 footer_grid">
            <h3>Contact Info</h3>
            <ul class="address">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>No 1/100, Jalan Yang Benar, <span>Malaysia.</span></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:futuretech@gmail.com">futuretech@gmail.com</a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>+6011-22334455</li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="footer_w3ls">
    <div class="container">
        <div class="footer_bottom">
            <div class="col-md-9 footer_bottom_grid">
                <div class="footer_bottom1">
                    <a>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <h2><span class="fa fa-signal" aria-hidden="true"></span> InMs <label>Future Tech</label></h2>
                    </a>
                    <p>© 2017 FutureTech. All rights reserved</a></p>
                </div>
            </div>
            <div class="col-md-3 footer_bottom_grid">
                <h6>Follow Us</h6>
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!-- //footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

