@model List<InternshipManagementSystem.Models.AnnouncementModel>

@{
    ViewBag.Title = "Announcements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @if (ViewBag.Role == "Faculty Coordinator")
    {
        @Html.ActionLink("Create New", "AnnouncementFormView")
    }
</p>
<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">

        <ul class="short_w3ls" _w3ls>
            <li><a href="index.html">Home</a><span>|</span></li>
            <li>Announcement</li>
        </ul>
    </div>
</div>
<div class="tittle_head_w3ls">
    <h3 class="tittle three">Announcement</h3>
</div>
<style>
    input[type=search] {
         width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 100%;
}
</style>
<div style="width: 100%; text-align:center; display:block; margin-bottom: 20px;">
    <input type="search" id="txtSearch" placeholder="Search.." /><input type="button" id="btnSearch" class="btn btn-lg btn-info" value="Search" onclick="StartSearch();" />
    <br />
</div>

<script>
    function StartSearch() {
        var Text = document.getElementById('txtSearch').value;
        window.location.href = '/GeneralActivityModule/AnnouncementView/' + Text;
    }
</script>
<div id="scrolldiv" style="width:100%; height:400px; overflow-x:hidden; overflow:auto;">
    <table class="table">
        
        @if (ViewBag.Found == true)
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    <div style="display: inline-block; font-size:medium; text-decoration:solid;">
                        @Html.Label(item.Title) 
                    </div>
                    @if (item.Category == "Important")
                    {
                        <label style="display: inline-block; font-size:10px; text-decoration:solid; color:red; vertical-align:top" >
                            *IMPORTANT
                        </label>
                    }
                    <div style="display:inline-block; float: right;">
                        @Html.Label(Convert.ToString(item.Datetime))
                    </div>
                    <br />
                    <div>@Html.Raw(item.Content)</div>
                    <div style="float: right;">
                        @if (ViewBag.Role == "Faculty Coordinator")
                        {
                            @Html.ActionLink("Edit", "AnnouncementFormView",
                  "GeneralActivityModule", new { item.Id }, new { })
                            <div style="display:inline-block;"> | </div>
                            @Html.ActionLink("Delete", "DeleteAnnouncement",
                  "GeneralActivityModule", new { @id = item.Id },
                  new { onclick = "return confirm ('Are you sure you wish to delete this announcement?');" })
                        }
                    </div>
                </td>
            </tr>

            }
        }
        else
        {
            <tr>
                <td>Not Found!</td>
            </tr>
        }

    </table>
</div>
<div class="footer_top_agileits">
    <div class="container">
        <div class="col-md-4 footer_grid">
            <h3>About Us</h3>
            <p>
                The main goal of the Internship Management System (InMS) is to manage and monitor the Internship’s student for students in University Malaysia Pahang during their internship duration efficiently.
            </p>
        </div>
        <div class="col-md-4 footer_grid">
            <h3>Latest News</h3>
            <ul class="footer_grid_list">
                <li>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <a href="single.html">Last Submission date for Internship Student on 31/12/2018</a>
                </li>
                <li>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <a href="single.html">Register with us.</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 footer_grid">
            <h3>Contact Info</h3>
            <ul class="address">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>No 1/100, Jalan Yang Benar, <span>Malaysia.</span></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:futuretech@gmail.com">futuretech@gmail.com</a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>+6011-22334455</li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="footer_w3ls">
    <div class="container">
        <div class="footer_bottom">
            <div class="col-md-9 footer_bottom_grid">
                <div class="footer_bottom1">
                    <a>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <h2><span class="fa fa-signal" aria-hidden="true"></span> InMs <label>Future Tech</label></h2>
                    </a>
                    <p>© 2017 FutureTech. All rights reserved</a></p>
                </div>
            </div>
            <div class="col-md-3 footer_bottom_grid">
                <h6>Follow Us</h6>
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!-- //footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>