@model InternshipManagementSystem.Models.ReportModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>

<!--//banner -->
<!--/w3_short-->
<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">

        <ul class="short_w3ls" _w3ls>
            <li><a href="index.html">Home</a><span>|</span></li>
            <li>Report</li>
        </ul>
    </div>
</div>
<div class="tittle_head_w3ls">
    <h3 class="tittle three">Internship Release Report</h3>
</div>

<h4>Internship Student Details</h4>

<table class="table" style="font-weight:bold; text-align:left; font-size:larger;">
    <tr>
        <td style="width:200px">Student Name :</td>
        <td>@Html.Raw(Model.Student_Name)</td>
    </tr>
    <tr>
        <td>Company : </td>
        <td>@Html.Raw(Model.Company_Name) </td>
    </tr>
    <tr>
        <td>Matric No. : </td>
        <td>@Html.Raw(Model.Matric_Id)</td>
    </tr>
    <tr>
        <td>State : </td>
        <td>@Html.Raw(Model.State)</td>
    </tr>
    <tr>
        <td>Internship Period :</td>
        <td>@Html.Raw(Model.Internship_Start) ~ @Html.Raw(Model.Internship_End)</td>
    </tr>
    <tr>
        @{
            if (Model.Status == "Incompleted")
            {
                <td>Status : </td>
                    <td style="color:red;">@Html.Raw(Model.Status)</td>
            }
            else
            {
                <td>Status : </td>
                    <td style="color:green;">@Html.Raw(Model.Status)</td>
            }
        }
    </tr>

</table>
<div>
    @{
        if (Model.Status == "Incompleted")
        {
            <button id="my-button" onclick="location.href='@Url.Action("SubmitReportStatus", "GeneralActivityModule")'">Submit</button>
                <input type="button" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />
        }
        else
        {
            <button onclick="window.print()">Print</button>
                <span>&nbsp; &nbsp; </span>
                <input type="button" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />
        }
    }
</div>
<div class="col-md-4 job_info_right">
</div>
<div class="clearfix"> </div>
<!-- //inner_content -->
<!-- footer -->
<div class="footer_top_agileits">
    <div class="container">
        <div class="col-md-4 footer_grid">
            <h3>About Us</h3>
            <p>
                The main goal of the Internship Management System (InMS) is to manage and monitor the Internship’s student for students in University Malaysia Pahang during their internship duration efficiently.
            </p>
        </div>
        <div class="col-md-4 footer_grid">
            <h3>Latest News</h3>
            <ul class="footer_grid_list">
                <li>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <a href="single.html">Last Submission date for Internship Student on 31/12/2018</a>
                </li>
                <li>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <a href="single.html">Register with us.</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 footer_grid">
            <h3>Contact Info</h3>
            <ul class="address">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>No 1/100, Jalan Yang Benar, <span>Malaysia.</span></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:futuretech@gmail.com">futuretech@gmail.com</a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>+6011-22334455</li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="footer_w3ls">
    <div class="container">
        <div class="footer_bottom">
            <div class="col-md-9 footer_bottom_grid">
                <div class="footer_bottom1">
                    <a>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <h2><span class="fa fa-signal" aria-hidden="true"></span> InMs <label>Future Tech</label></h2>
                    </a>
                    <p>© 2017 FutureTech. All rights reserved</a></p>
                </div>
            </div>
            <div class="col-md-3 footer_bottom_grid">
                <h6>Follow Us</h6>
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!-- //footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>